header {
  background-color: #031c38;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition: padding 0.3s ease, background-color 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-size: 24px;
  color: #f0a500;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  color: #fff;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: none;
  outline: none;
  transition: color 0.3s ease;
}

.menu-button:hover {
  color: #f0a500;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin-left: 30px;
}

ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #f0a500;
}

ul li a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #f0a500;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  header {
    padding: 0.5rem 1rem;
  }

  ul {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .menu {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #002147;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 60px);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    display: none;
  }

  .menu.show {
    display: flex;
    transform: translateY(0);
  }

  ul li {
    margin: 20px 0;
  }

  ul li a {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .logo {
    font-size: 20px;
  }

  .menu-button {
    font-size: 28px;
  }

  ul li a {
    font-size: 18px;
  }

  header {
    padding: 0.5rem 0.8rem;
  }
}

@media (min-width: 1025px) {
  .menu-button {
    display: none;
  }

  ul {
    display: flex;
  }

  ul li {
    margin-left: 30px;
  }

  ul li a {
    font-size: 18px;
  }
}
